{% extends ":glynn-admin:base.html.twig" %}

{% block title %}
    Assets - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Assets</h1>
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('disjfa_media_asset_create') }}" class="btn btn-primary">
                Add new
            </a>
            <a href="{{ path('disjfa_media_asset_import') }}" class="btn btn-primary">
                Import assets
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="hidden-lg-up col-xs-12 bg-primary text-xs-right">
            <a href="#side-menu" data-toggle="collapse" class="btn btn-default bg-primary">
                <i class="fa fa-life-ring"></i>
                Show menu
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 bg-info navbar-toggleable-md collapse py-1 text-white" id="side-menu">
            <h3>Assets</h3>
            <p>Here we can add and view assets.</p>
        </div>
        <div class="col-lg-9">
            <div class="row">
                {% for asset in assets %}
                    <div class="col-sm-4">
                        <a class="card" href="{{ path('disjfa_media_asset_show', {'asset': asset.id}) }}">
                            {% if asset.image %}
                                <img src="{{ path('disjfa_media_asset_preview', {'asset': asset.id}) }}" alt=""
                                     class="card-img-top img-fluid">
                            {% else %}
                                <div class="text-xs-center py-2 bg-faded">
                                    <i class="fa fa-file-o fa-3x"></i>
                                </div>
                            {% endif %}
                            <div class="card-block">
                                <h4 class="card-title">
                                    {{ asset.name }}
                                </h4>
                                <p class="card-text">
                                    {{ asset.extension }}
                                    <br>
                                    {{ asset.size }}
                                </p>
                            </div>
                        </a>
                    </div>
                    {% if loop.index % 3 == 0 %}
                        <div class="clearfix hidden-sm-down"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
